

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="singup-contents">
      <h2>会員情報</h2>
      <div class="field">
          <%= f.label :"ニックネーム" %> 
          <br>
          <%= f.text_field :nickname, autofocus: true, maxlength: "6", placeholder: "ニックネーム",class: 'signin-form'%>
      </div>

      <div class="field">
        <%= f.label :"Eメール" %>
        <br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Eメール",class: 'signin-form' %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %>
        <br>
        <%= f.password_field :password, autocomplete: "new-password",placeholder: "パスワード", class: 'signin-form'%>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード",class: 'signin-form' %>
      </div>

      <div class="actions">
        <%= f.submit "登録", class: "register-btn"%>
      </div>
  <% end %>

  
