<% @posts.each do |post| %>
<%= render partial: "post", locals: { post: post }%>
<% end %>
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
  <%= link_to "ユーザー一覧へ", users_path %>
  <hr> 
  <h2>投稿一覧</h2>
  <% @posts.each do |post| %>
    <a href="/users/<%= post.user.id %>"><%= post.user.nickname %></a>
    <a href="/posts/<%= post.id %>"><%= post.body %></a>
    (<%= post.liked_users.count %>)
  <% end %>
<% end %>
